@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

li{
  list-style-type: none;
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px 10%;
  background-color: #873600;
  justify-content: space-between;
}
.logo img{
  width: 150px;
  height: auto;
  top: 0;
  left: 5%;
  position: absolute;
}
nav ul{
  display: flex;
  flex-direction: row;
}
nav ul li{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
}
nav ul li a{
  color: #FFF;
  display: block;
  padding: 5px 20px;
  border-radius: 1px;
}
nav ul li a:hover{
  color: #F0B27A;
}
.cta{
  background-color: #F0B27A;
  color: #FFF;
}
.cta:hover{
  background-color: #873600;
  color: #FFF;
}
.banner{
  width:100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(coffee.jpg);
  background-size: cover;
  background-position: center;
}
.banner-text{
  width: 100%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  text-align: center;
  color: #FFF;
}
.banner-text h1{
  font-size: 70px;
  margin-top: 80px;
}
.banner-text p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #873600;
  padding: 30px 0;
}
.footer-col{
   width: 30%;
   padding: 0 15px;
}
.footer-col h1{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h1::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #F0B27A;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col h2{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.about-section{
    background: url(logonice.png) no-repeat left;
    background-size: 20%;
    overflow: hidden;
    padding: 50px 0;
}

.inner-container{
    width: 65%;
    float: right;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 900;
    color: #873600;
}
.text{
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.container-menu {
  width: 1500px;
  margin: 0 auto;
  overflow: hidden;
  padding: 120px 0;
}
.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
  color: #873600;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}
.product-section{
  position: relative;
  overflow: hidden;
  padding: 100px 0;

}
.product-section .card{
  position: relative;
  margin: 10px;
  padding: 15px;
  display: flex;
}

.product-section .card .imgBx img{
  width: 30%; /*image width*/
  float: left; /*image position*/
}
.product-section .card .content{
  width: 65%;
  float: right;
  color: #873600;
}
